DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432/cameldash
DATASOURCE_USERNAME=cameldash
DATASOURCE_PASSWORD=cameldash@welcome
CAMEL_DASHBOARD_ENCRYPT_KEY=ChangeMeInProduction
CAMEL_DASHBOARD_ENCRYPT_SALT=cxn-apache-camel-salt-v1
CAMEL_DASHBOARD_CLUSTER_ENABLED=true
CAMEL_DASHBOARD_CLUSTER_STREAM_KEY=dev:cluster:event:stream
CAMEL_DASHBOARD_CLUSTER_CHANNEL=dev:cluster:event:channel
CAMEL_DASHBOARD_CLUSTER_GROUP=dev
CAMEL_DASHBOARD_MCP_API_KEY=7430c6e6-fc22-4dd6-a9b0-41acde8e3710
CAMEL_DASHBOARD_LOADER_PATH=./libs
CAMEL_CONTEXT_PATH=/cameldash
OTEL_EXPORTER_OTLP_ENDPOINT=http://host.docker.internal:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_LOGS_EXPORTER=otlp
REDIS_HOST=host.docker.internal
REDIS_PORT=6379
REDIS_PASSWORD= 
INSTANCE_ID=camel-002
